
.contactLinksContainer {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-top: 2rem;
}

.contactIcon {
  width: 32px;
  height: 32px;
  color: var(--primary-text-color);
  transition: color 0.3s ease, transform 0.3s ease;
}

.contactIcon:hover {
  color: var(--accent-color);
  transform: scale(1.1);
}
